:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  outline: none;
}

html{
  background-color: #1a1a1a !important;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.action-btn {
  width: 14rem;
  height: 3.7rem;
  border: 1px solid #ACFCD9;
  color: #ACFCD9;
  font-size: 1.2rem;
  font-weight: bolder;
  margin-top: 2rem;
  transition: all .5s ease-in-out;
  padding: .9rem;
}

.action-btn:hover {
  transform: scale(1.1);
  background-color: #ACFCD9;
  color: #1a1a1a;
}

.card {
  padding: 2em;
}

#app {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.page-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem 4rem;
  min-height: calc(100vh - 3.2rem - 4rem);
  animation-name: Appear;
  animation-duration: 1.5s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* CUSTOM CSS */
.custom-input {
  width: 35%;
  height: 2.5rem;
  padding: .2rem .8rem;
  background-color: #101010;
  border: 1px solid rgb(172, 252, 217);
  border-radius: 8px;
  color: #cbcbcb;
  font-weight: bolder;
  transition: all .5s ease-in-out;
}

.custom-input::placeholder {
  font-weight: normal;
  color: #737373;
}

.custom-input:focus-visible {
  transform: scale(1.05);
  outline: 1px solid rgb(172, 252, 217);
}

.custom-area {
  @extend .custom-input;
  min-height: 10rem;
}

.category-selector {
  @extend .custom-input
}

.custom-btn {
  width: 100%;
  height: 2.5rem;
  border: 1px solid rgb(172, 252, 217);
  color: #ACFCD9;
  font-size: 1.2rem;
  font-weight: bolder;
  margin-top: 2rem;
  transition: all .5s ease-in-out;
  padding: .1rem;
}

.cancel {
  @extend .custom-btn;
  color: #EF5B5B;
  border: 1px solid rgb(239, 91, 91);
}

.custom-btn:hover {
  transform: scale(1.1);
  background-color: #ACFCD9;
  color: #1a1a1a;
}

.cancel:hover {
  transform: scale(1.1);
  background-color: #EF5B5B;
  color: #1a1a1a;
}



.account-text {
  a {
    font-weight: bolder;
    color: #ACFCD9;
    cursor: pointer;
    transition: all .5s ease-in-out;
  }
  a:hover {
    color: #00ab5f;
  }
}


// Books

.book {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;

  .book-icon {
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
    top: 1rem;
    right: 1rem;
  }

  .edit-btn{
    @extend .book-icon;
    padding: 0;
    top: 4rem;
    background-image: url("../public/edit-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .delete-btn {
    @extend .book-icon;
    padding: 0;
    top: 7rem;
    background-image: url("../public/delete-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .hov-icon{
    transition: all .2s ease-in-out;
  }

  .hov-icon:hover {
    transform: scale(1.1);
  }

  .book-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: .8rem;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,.3) 100%);
    text-align: start;

    .title {
      color: #f1f1f1;
      font-weight: bolder;
    }

    .author {
      color: #f1f1f1;
      font-weight: normal;
    }

    .actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 1rem;

      .price {
        font-weight: bolder;
        font-size: 1.2rem;
        color: #fff;
      }

      .buy-btn {
        z-index: 3;
        width: 3.2rem;
        height: 3.2rem;
        align-self: center;
        text-align: center;
        transition: all .5s ease-in-out;
        background-image: url("../public/add_cart_icon.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      .buy-btn:hover {
        transform: scale(1.03);
        background-image: url("../public/add_cart_icon_black.svg");
      }
    }
  }
}

@keyframes EnterFromRight {
  0%   {transform: translate(150%, 0);}
  100% {transform: translate(0%, 0);}
}

@keyframes Appear {
  0%   {opacity: 0}
  100% {opacity: 1}
}

@keyframes Disappear {
  0%   {opacity: 1}
  100% {opacity: 0}
}
